* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 70%;
    height: 100vh;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}

.intestazione > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
}

.intestazione {
    height: 100px;
    margin-left: 20px;
}

h1 {
    font-size: 3em;
}

