* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightgray;

 }
main {
    width: 70%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.intestazione > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 70px;
}

.intestazione {
    height: 70px;
    background-color: white;
}

.logo {
    margin-left: 20px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

h3 {
    font-size: 1.8em;
    margin-top: 30px;
}

.buttom {
    padding: 10px;
    margin-left: 50px;
}

.buttom-1, .buttom-2 {
    border: 1px solid;
    border-radius: 7px;
    padding: 8px;
}

.buttom-1 {
    color: white;
    background-color: #47adf1;
}

.buttom-2 {
    color: lightslategray;
}

.true {
    padding: 1px;
    border: 1px solid green;
    border-radius: 100%;
    color: green;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
}

.false {
    padding: 1px;
    border: 1px solid red;
    border-radius: 100%;
    color: red;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
}

.list > * {
    line-height: 35px;
    margin-left: 50px;
}

.text {
    border: 1px solid;
    border-radius: 25px;
    padding: 8px;
    color: aliceblue;
    font-size: 10px;
}

.blue {
    background-color: rgb(67, 129, 245);
}

.green {
    background-color: green;
}

.violet {
    background-color: violet;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.acqua {
    background-color: aqua;
}

.arrow {
    font-size: small;
}
